* {
    margin: 0;
    padding: 0;
}

/* navbar style */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
#midnav{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#midnav>div{
    cursor: pointer;
}
#midnav>div:hover{
    color: #FF6F61;
}
#rightnav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 20%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#rightnav>div{
    cursor: pointer;
    margin-right: -18%;
}
#rightnav>div:hover{
    color: #FF6F61;
}
#rightnav>div>img{
    width: 60%;
}
#leftnav>div>img{
    width: 100%;
padding-left: 20px;
}


/* lower navbar */
#lowernav{
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#first>select{
    background-color: #F1F4F6;
    padding: 10PX;
    border: 0px;
    /* margin-left: 1%; */
   width: 22%;
   font-weight: bold;
}
#first>input{
    width: 72%;
    border: 0px;
    margin-left: 1%;
    background-color: #F1F4F6;
    padding: 10px;
}


#first{
    display: flex;
    width: 60%;
}
#second{
    width: 35%;
}
#second>span{
    background-color: #FF6F61;
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
#second>select{
    font-size: 22px;
    background-color: #F1F4F6;
    padding: 7PX;
    border: 0px;
    width: 49%;
}

#lowestnav{
    width: 100%;
}
#lowestnav>select{
    border: 0px;
    padding: 5px;
    cursor: pointer;
}
#lowestnav>select:hover{
    color: #FF6F61;
    content-visibility: calc();
}
