body{
    background-color: #565656;
    font-family: Clear Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
   
}
#container{
    
    width: 23%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    margin-top: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input{
    display: block;
    margin-bottom: 40px;
    height: 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20px;

}
button{
    width: 50%;
    margin: auto;
    height: 40px;
    color: white;
    background-color: #ff6f61;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 50px;
}
button:hover{
    color: red;
cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}