body{
           
    font-family: Clear Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #565656;
}

#container{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40%;
  height: 400px;
  
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 100px;
  
  
  
}
#success{
    color: green;
}
#placed{
    color: blue;
}